<%= link_to "Back To List", books_path %>
<%= form_with model: book do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% book.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
        <% end %>
  </div>
  <br>

  <div>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
    <% book.errors.full_messages_for(:author).each do |message| %>
        <div><%= message %></div>
        <% end %>
  </div>
  <br>

  <div>
    <%= form.label :genre %><br>
    <%= form.select :genre, [["Mystery", "Mystery"], ["Romance", "Romance"], ["Fantasy", "Fantasy"], ["Science Fiction", "Science Fiction"], ["Other", "Other"]] %>
    <% book.errors.full_messages_for(:genre).each do |message| %>
        <div><%= message %></div>
        <% end %>
  </div>

  <br>

  <div>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
    <% book.errors.full_messages_for(:price).each do |message| %>
        <div><%= message %></div>
        <% end %>
  </div>

  <br>

  <div>
    <%= form.label :"Published Date" %><br>
    <%= form.date_field("publishedDate", value: book.publishedDate) %>
    <% #form.text_field :publishedDate %>
    <% #form.date_select("publishedDate", order: [:day, :month, :year] , prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, date_separator: "/") %>
    <% #form.hidden_field :publishedDate, value:"#{"publishedDate(2i)"}/#{"publishedDate(3i)"}/#{"publishedDate(1i)"}" %>
    <% book.errors.full_messages_for(:publishedDate).each do |message| %>
        <div><%= message %></div>
        <% end %>
  </div>

  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>