<h1>Book Collection</h1>
<% flash.each do |type, msg| %>
    <div id="flash">
      <%= msg %>
    </div>
  <% end %>
  <%= link_to "New Book", new_book_path %>
  <br></br>
<table style="text-align: center;">
    <tr>
        <th>Title
        </th>
        <th>Author
        </th>
        <th>Genre
        </th>
        <th>Price
        </th>
        <th>Published Date
        </th>
        <th>
        </th>
        <th>Actions
        </th>
        <th>
        </th>
        
    </tr>
    <% @books.each do |book| %>
        <tr>
        
            <td><%= book.title %>
            </td>
            <td><%= book.author %>
            </td>  
            <td><%= book.genre %>
            </td>
            <td><%= book.price %>
            </td>
            <td><%= book.publishedDate %>
            </td>
            <td><%= link_to "Show", book_path(book) %> </td>
            <td><%= link_to "Edit", edit_book_path(book) %> </td>
            <td><%= link_to "Delete", "/books/#{book.id}/delete" %></td>
        </tr>
      <% end %>
</table>
